# Add any directories, files, or patterns you don't want to be tracked by version control

Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
opt/
python/build/
python/pyTEOBResumS.cpp
python/pyTEOBResumS.so
src/.deps/
src/.libs/
src/Makefile
src/TEOBResumS
src/config.h
src/config.h.in~
src/libTEOBResumS.la
src/stamp-h1
*.dat
*.lo
*.in
*.o
*.DS_Store
../.DS_Store
C/align/*.py
*.png
*.txt
*.x
C/par/*.par
C/par/bhns_test.par
*.par
*.d
*.h5
