# Add any directories, files, or patterns you don't want to be tracked by version control

Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
opt/
Python/build/
Python/pyTEOBResumS.cpp
Python/pyTEOBResumS.so
Python/CWrap/*.so
Python/__pycache__/
Python/build
Python/Examples/bhns_test.py
src/.deps/
src/.libs/
src/Makefile
src/TEOBResumS
src/config.h
src/config.h.in~
src/libTEOBResumS.la
src/stamp-h1
*.dat
*.lo
*.in
*.o
*.DS_Store
../.DS_Store
C/align/
*.png
*.txt
*.x
C/par/*.par
C/par/bhns_test.par
*.par
*.par~
*.d
*.h5
*.py
