# default parameters
# note: there'r many more than just physical pars !
# TODO: put in proper format, now just a reference 
#
# key : val : description
#
# ----------------------
# phys pars
M : 80 : "total binary mass"
q : 1. :
chi1 : 0. :
chi2 : 0. :
distance 100
inclination 0
polarisation 0
fmin  10
dt 0.5
srate 4096
LambdaAl2 0
LambdaAl3 0
LambdaAl4 0
LambdaBl2 0
LambdaBl3 0
LambdaBl4 0
BH_final_mass 0
BH_final_spin 0
rLR 0
# ----------------------
# options
use_tidal 0
use_spins 0
speedytail 1 
dynamics 0
use_RWZ_norm 0
output_multipoles 0
lm -1
use_Yagi_fits 0
use_geometric_units 0
output_file "waveform/txt"
stop_flag ...
# ----------------------
# settings
size : 1 : "size of the arrays (chunks, dynamically extended)" 
tmax : 1e9 : "max integration time"