# default parameters
# note: there'r many more than just physical pars !
# TODO: put in proper format, now just a reference 
#
# key : val : description
#
# ----------------------
# phys pars
M = 80 [total binary mass]
q = 1. [mass ratio]
chi1 = 0. [dimensioneless spin z-component]
chi2 = 0. [dimensioneless spin z-component]
distance = 100
inclination = 0
polarisation = 0
fmin = 10
dt = 0.5
srate = 4096
LambdaAl2 = 0
LambdaAl3 = 0
LambdaAl4 = 0
LambdaBl2 = 0
LambdaBl3 = 0
LambdaBl4 = 0
BH_final_mass = 0
BH_final_spin = 0
rLR = 0
# ----------------------
# options
use_tidal = 0
use_spins = 0
speedytail = 1 
use_RWZ_norm = 0
output_multipoles = 0
lm = -1
use_Yagi_fits = 0
use_geometric_units = 0
output_dir = "./" [output dir]
output_file = "waveform.txt" [waveform output]
dynamics = 0 [output dynamics]
# ----------------------
# settings
solver_scheme = 0
stop_flag = 
ode_abstol = 1e-13
ode_reltol = 1e-11
ode_tmax = 1e9 [max integration time]
size = 1 [size of the arrays (chunks, dynamically extended)]
